---
layout: page
title: Photography
---

<hr>
<h1 class="title">Photography</h1>

<div class="side-by-side">
    <div class="toleft">
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/WhiteMountains.jpg" alt="White Mountains">
        <figcaption class="caption">White Mountains</figcaption>
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/Sage_trip.jpeg" alt="Altered Perception">
        <figcaption class="caption">Altered Perception</figcaption>
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/dance.jpeg" alt="You Become Me">
        <figcaption class="caption"><a href="/inspiration/"><i>You Become Me</i></a></figcaption>  
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/simba.jpg" alt="Simba">
        <figcaption class="caption"><i>Circle of Life</i></figcaption>
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/Subtle_frequency.png" alt="Subtle Frequency">
        <figcaption class="caption">Water Under the Bridge</figcaption>
    </div>

    <div class="toright">
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/sage.jpg" alt="Sage">
        <figcaption class="caption">Sage</figcaption>
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/bender_dream.png" alt="Deep Dream">
        <figcaption class="caption">Deep Dream</figcaption>
            <br/>
            <br/>
        <img class="image" src="https://reedbender-blogsite.s3.amazonaws.com/emergence.JPG" alt="Emergence">
        <figcaption class="caption">Emergence</figcaption>
    </div>
</div>

