---
layout: page
title: Research
---

<hr>
<h1 class="title">Research</h1>

<h2 class="title">Publications</h2>
<div style="padding-left: 4em; text-indent: -4em;">
    <p>
        <sup>1</sup>Colin Targonski, <b><i><sup>1</sup>M. Reed Bender</b></i>, et al. <a href="https://doi.org/10.1016/j.patter.2020.100087">
        <i>Cellular State Transformations Using Deep Learning for Precision Medicine Applications.</i></a> September 2020, Cell Patterns.
        <small><sup>1</sup>co-first authors</small>
    </p>
    <p>
        John A. Hadish, Tyler D. Biggs, Benjamin T. Shealy, <b><i>M. Reed Bender</b></i>, et al. <a href="https://doi.org/10.1186/s12859-022-04629-7">
        <i>GEMmaker: process massive RNAseq datasets on heterogeneous computational infrastructure.</i></a> May 2022, BMC Bioinformatics.
    </p>
    <p>
        Benafsh Husain, <b><i>M. Reed Bender</b></i>, Frank Alex Feltus. <a href="https://doi.org/10.1093/g3journal/jkac042">
        <i>EdgeCrafting: mining embedded, latent, nonlinear patterns to construct gene relationship networks.</i></a> April 2022, G3.
    </p>
    <p>
        Nicole M. Nelligan, <b><i>M. Reed Bender</b></i>, F. Alex Feltus. <a href="https://doi.org/10.1186/s12885-022-09704-z">
        <i>Simulating the restoration of normal gene expression from different thyroid cancer stages using deep learning.</i></a> June 2022, BMC Cancer.
    </p>
    <p>
        Coleman B. McKnight, Alexandra L. Poulos, <b><i>M. Reed Bender</b></i>, et al. <a href="https://ieeexplore.ieee.org/abstract/document/8955120">
        <i>Exploring Lossy Compression of Gene Expression Matrices.</i></a> November 2019, Supercomputing Conference.
    </p>
    
</div>

<br/>
<hr>

<h2 class="title">Essays</h2>
<div style="padding-left: 4em; text-indent: -4em;"></div>
    <p>
        <a href="https://superconductingconsciousnesspublic.s3.amazonaws.com/Bender_Superconducting_Consciousness.pdf"><b><i>Our Superconducting Consciousness</i></b></a>
        &rarr; <i>A synthesis of neurophysiology, alchemy, and yoga into a theory of transcendental experience.</i>
    </p>
</div>
<br/>
<hr>

<h2 class="title">Podcasts</h2>
<h4 class="title">Chaos Theory and Systems Biology</h4>
<div>
    <p>
        <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/k6g3l8ZI-VM" 
                title="Chaos Theory in the Biosciences" 
                frameborder="1" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </p>
    
</div>