.nav,
.nav-home
    > .list
        list-style: none
        margin: 0
        padding: 0 12px 0
        text-align: center

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: $thin-font
            font-size: 1.4rem
            padding: 20px 10px
            text-decoration: none
            text-align: center

.nav
    position: absolute
    right: 0
    top: 0
    text-align: center

    > .list
        padding: 0 12px 0

        > .item > .link
            font-size: 1.4rem
            padding: 20px 10px
            text-align: center

.nav-home
    margin-top: 12px
    text-align: center

    > .list
        padding: 0

        > .item > .link
            font-size: 2rem
            padding: 33px 33px
            margin: 0
            border-radius: 4%
            transition: all .4s ease-in-out
            width: 100px
            text-align: center

            &:hover
                color: $beta
                font-style: italic
